body {
    margin: 5;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

h1{
    font-size: 2em;
}

#presentation {
    display:flex;
    flex-direction: column;
    margin: 20px;
}

#article {
    color: white;
    display:flex;
    flex-direction: column;
    border: 2px solid #fff;
    justify-content: center;
    align-items: center;
    margin:5;
    border-radius: 10px;
    background-color: #333;
    width:97vw;
    height:auto;
    gap:10px;
    transition: width 2s, border 2s;
     
    
}

#article:hover {
    width:97.5vw;
    border:2px solid aqua;
}

#git {
    
    margin-left:20px;
    width:5vw;
    height:5vh;
    border-radius: 10px;
    
}

@media (max-width:600px) {
    
    body {
        background-color: beige;
    }

}

