@media (max-width:600px) {
    
    body {
        background-color: beige;
    }

}

#code {
    display: flex;
    flex-direction: row;
    background-color: black;
    border: 2px solid black;
    color: white;
    border-radius:18px;
}