body {
    font-family: "Quicksand", sans-serif;
    background-color: black;
    color:#fff;
}

header {
    border: 2px solid #fff;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    background-color: #333;
    padding: 30px;
    color: whitesmoke;
    border-radius: 10px;
    transition:border 2s;
}

header:hover {
    border:2px solid aqua;
}

#titre-principal {

    font-size: 2em;
    margin-bottom: 10px;

}
nav {
    display: flex;
    padding:12px;
    justify-content: center;
}
#a1 {
    width:25vw;
    height:27px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-right: 10px;
    color: #fff;
    background-color: #333;
    font-weight: bold;
    transition: 
        color 2s;
    transition: 
        background-color 1s;
        
}

#a1:hover{
    color:#333;
    background-color: #fff
}



footer {
    color:#fff;
    display:flex;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 18px;
    margin-top:10%;
    margin-bottom: auto;
    gap:100px;
    background-color: #333;
    justify-content: center;
    border: 2px solid #fff;
    transition:border 2s;
   
}

footer:hover{
    border: 2px solid aqua;
}

.insta {
    width:5vw;
    height:5vh;
    margin-top: 10px;
}




/* body {
    margin: 0;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
} */
