header {

    text-align: center;
    background-color: white;
    padding: 20px;
    color: darkblue;
}

#titre-princpal {

    font-size: 2em;
    margin-bottom: 10px;

}

nav a {
    margin-right: 10px;
    color: black;
    font-weight: bold;

}

nav a:hover{
    color:darkblue;
}

body {
    background-color: grey;
}