

body {
    margin: 5;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

h1{
    font-size: 2em;
}

#presentation {
    display:flex;
    flex-direction: column;
    margin: 20px;
}

#article {
    color: white;
    display:flex;
    flex-direction: column;
    border:2px solid beige;
    justify-content: center;
    align-items: center;
    margin:5;
    border-radius: 10px;
    background-color: #333;
    width:97vw;
    height:auto;
    gap:10px;
    transition:
     border-color ease 2s;
    transition:
     width ease 1s;
    
}

#article:hover {
    width:97.5vw;
    border-color: black;
    
}

#git {
    
    
    width:5vw;
    height:3vh;
    border-radius: 10px;
    
}

@media (max-width:600px) {
    
    body {
        background-color: beige;
    }

}

