.projets {
    display: flex;
    color:#fff;
    gap : 4%;
    flex-wrap: wrap;
    width: 90vw;
    height: 70vh;
    border: 4px solid #ccc;
    padding: 4%;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    background-color: #333;
    align-items: center;
    
    
    
}   



h2 {
    color:#fff;
}

h3 :hover {
    color: #fff;
}



.p1 {
    display:flex;
    
    flex-direction: column;
    padding:2%;
    
    height:20vh;
    width: 40vw;
    border: 2px solid #fff;
    border-radius: 18px;
    align-items: center;
    
        
}

.p2 {
    display:flex;
    flex-direction: column;
    padding:2%;
    
    height:20vh;
    width: 40vw;
    border: 2px solid #fff;
    border-radius: 18px;
    align-items: center;
    
    
}


.Motus {
    width:5vw;
    height:5vh;
}

.azul {
    width:5vw;
    height:5vh;
}

@media (max-width:600px) {
    
    body {
        background-color: beige;
    }

}

